/*Mobile browsers*/

html {
    font-size: 62.5%;
    /* size set */
}

body {
    font-family: 'Spartan', sans-serif;
    Font-size: 1.2rem;
    --DarkGray: hsl(0, 0%, 63%);
    --Black: hsl(0, 0%, 0%);
    --White: hsl(0, 0%, 100%);
    --VeryDarkGray: hsl(0, 0%, 27%);
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
}

.main-picture {
    position: relative;
    max-width: 100%;
    height: 100vh;
    background-image: url(../images/mobile-image-hero-1.jpg);
    background-size: 100% 360px;
    background-repeat: no-repeat;
}

header {
    position: relative;
}

nav {
    z-index: 1;
    position: absolute;
    left: -1600px;
    /*hide menu*/
    width: 100%;
    height: calc(100vh - 110px);
}

.menu {
    z-index: 0;
    position: absolute;
    left: 25px;
    top: 50px;
    width: 20px;
    height: 14px;
}

.menu__list {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-evenly;
    min-height: 110px;
    width: 100%;
    background-color: var(--White);
}

.menu__list--itens {
    color: var(--Black);
    font-weight: 700;
    font-size: 1.3rem;
}

.close {
    padding-right: 50px;
}

.glass {
    height: calc(100vh - 110px);
    background-color: var(--Black);
    opacity: 0.4;
}

.logo {
    z-index: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    top: 50px;
    width: 62px;
    height: 14px;
}

.container {
    box-sizing: border-box;
    position: absolute;
    top: 360px;
    box-sizing: border-box;
    min-height: 410px;
    width: 100%;
    padding: 70px 20px 15px 25px;
}

.container__card {
    box-sizing: border-box;
    min-height: 315px;
    padding: 70px 15px 15px 30px;
}

.card__text {
    margin-top: 20px;
    margin-bottom: 55px;
}

.title {
    font-size: 2.8rem;
    font-weight: 600;
}

.text {
    font-size: 1.235rem;
    line-height: 1.6;
    color: var(--DarkGray);
    font-weight: 500;
}

.buy {
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 12px;
}

.buy__icon {
    margin-left: 35px;
    display: inline-block;
    width: 40px;
    height: 12px;
    background-image: url(../images/icon-arrow.svg);
    background-size: contain;
}

.button__left {
    position: absolute;
    top: 300px;
    right: 60px;
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: var(--Black);
    background-image: url(../images/icon-angle-left.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 10px;
    cursor: pointer;
}

.button__left:hover {
    background-color: var(--VeryDarkGray);
}

.button__right {
    position: absolute;
    top: 300px;
    right: 0px;
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: var(--Black);
    background-image: url(../images/icon-angle-right.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 10px;
    cursor: pointer;
}

.button__right:hover {
    background-color: var(--VeryDarkGray);
}

.picture__about {
    display: block;
    box-sizing: border-box;
    min-height: 240px;
    width: 100%;
    background-image: url(../images/image-about-dark.jpg);
    background-size: 100% 240px;
    background-repeat: no-repeat;
}

.title__about {
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 15px
}

.picture__footer {
    display: block;
    box-sizing: border-box;
    min-height: 240px;
    width: 100%;
    background-image: url(../images/image-about-light.jpg);
    background-size: 100% 240px;
    background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
    
    .main-picture {
        max-width: 60%;
        height: 530px;
        background-image: url(../images/desktop-image-hero-1.jpg);
        background-size: 100% 530px;
    }

    .button__right {
        width: 80px;
        height: 80px;
        top: 450px;
        right: -160px;
    }

    .button__left {
        width: 80px;
        height: 80px;
        top: 450px;
        right: -80px;
    }

    .container {
        right: 0;
        top: 0;
        width: 40%;
        padding: 100px 80px 20px 95px;
    }

    .title {
        font-size: 3.4rem;
        font-weight: 700;
    }

    .card__text {
        margin-bottom: 30px;
    }

    .section__about{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .picture__about {
        min-height: calc(100vh - 530px);
        width: 30%;
        background-size: 100% calc(100vh - 530px);
    }

    .container__card {
        justify-self: center;
        align-self: center;
        min-height: 0px;
        max-height:100% calc(100vh - 530px);
        width: 40%;
        padding: 15px 20px 0px 20px;
    }

    .picture__footer {
        min-height: calc(100vh - 530px);
        width: 30%;
        background-size: 100% calc(100vh - 530px);
        background-repeat: no-repeat;
    }
}